<%= render 'entries/inline_form' %>



<div style=" width:100%" id="current-entries"></div>
<div id="progress-message" ></div>


<script>
    $( document ).ready(function() {
      
      refreshEntries();
      
      $('#new_entry').on('ajax:success', function(event, xhr, status) {
        // insert the failure message inside the "#account_settings" element
          refreshEntries();
          clearForm()
        });

      $('#new_entry').on('ajax:error', function(event, xhr, status) {
        // insert the failure message inside the "#account_settings" element
         
         alert('something wicked this way comes...')
        });


        function refreshEntries(){
          //console.log('loading entires')
          $('#current-entries').html("loading");
          $('#current-entries').load('/entries?widget');  
         }



        function clearForm(){
          $('input.to-clear').val("");
          }


    });
 


    </script>


