<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
   <div class="container">


     
     <div style="float:left; padding: 5px 10px  5px 0">
      <img src="/assets/exby8t-small.png" height="40"> 
     </div>

       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
      
       <a class="brand" href="/">Stopwatch</a>
   
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left"></ul>


        <ul class="nav pull-right" id="main-menu-right">
			
	     <%= render 'global/menu' %>     
        </ul>
       </div>

   


   </div>
   </div>
 </div>