/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
 */

body { padding-top: 60px; } 

.one {
    position: relative;
}
.one .bsa_it_ad {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E1E1E1;
    display: block;
    font-family: helvetica,arial,sans-serif;
    line-height: 100%;
    padding: 15px;
    position: relative;
}
.one .bsa_it_ad a {
    text-decoration: none;
}
.one .bsa_it_ad a:hover {
    text-decoration: none;
}
.one .bsa_it_ad .bsa_it_t {
    color: #212121;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 125%;
    padding: 0 0 5px;
}
.one .bsa_it_ad .bsa_it_d {
    color: #434343;
    display: block;
    font-size: 12px;
    line-height: 135%;
}
.one .bsa_it_ad .bsa_it_i {
    float: left;
    margin: 0 15px 10px 0;
}
.one .bsa_it_p {
    bottom: 10px;
    display: block;
    position: absolute;
    right: 15px;
    text-align: right;
}
.one .bsa_it_p a {
    color: #666666;
    font-size: 10px;
    text-decoration: none;
}
.one .bsa_it_ad .bsa_it_p a:hover {
    font-style: italic;
}
